# Placeholder file for Prow

# Required by envoy and its tests
build --define=grpc_no_ares=true

# Required by envoy and grpc-echo
build --incompatible_disable_deprecated_attr_params=false

# Compilation modes
build:release -c opt

build:debug -c dbg